<!-- <div class="search-tab float-left" *ngFor="let tab of searchDataArr; let i=index; let lastTab=last;">
  <span class="tab-text" (click)="goToTab(i)">Search {{ i+1 }}</span>
  <button
    class="btn tab-button font-weight-bold"
    [ngClass]="{ 'btn-success' : lastTab, 'btn-danger' : !lastTab }"
    type="button"
    (click)="lastTab ? addNewTab(i) : removeCurrentTab(i)">
    {{ lastTab ? '&#43;' : '&#8211;' }}
  </button>
</div> -->

<div class="float-left" *ngFor="let tab of searchDataArr; let i=index; let lastTab=last;">
  <div class="search-tab" [ngClass]="{ 'active' : isSelected === i }">
    <span class="switch-tab" (click)="goToTab(i)">search {{i + 1}}</span>
    <button (click)="removeCurrentTab(i)" class="btn btn-danger">&#8211;</button>
  </div>
  <button (click)="addNewTab(i)" *ngIf="lastTab" class="btn btn-success">&#43;</button>
</div>
